body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 16px; /* tamaño de fuente más pequeño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.canvas {
    background-color: #ffffff;
    border-radius: 8px;
    display: block; /* Para que el canvas sea un bloque */
    margin-left: auto;
    margin-right: auto;
    /* Centrado de la figura dentro del canvas */
    object-fit: contain;
}
